
*{/*resetando toda margin e padding do site*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*declarando variaveis para cores para usarmos toda vez que necessario*/
:root{
    --vermelho: #e50914;
    --preta: #141414;
}
/*base*/
body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;

}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center; /*alinha de madeira vertical*/
    justify-content: space-between;/*dar uma espaçamento pela horizontal*/

}
/*cuidando apenas do logo*/
header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
}
/*acionando as tag a do header*/
header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;

}
/*Para quando passar o mouse por cima ele faça um efeito de mudar cor */
header nav a:hover{
    color: #fff;
}


/*filme principal*/

.filme-principal{
    font-size: 16px;
   /* background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%) url('../img/capa.png');*/
   background: url(../img/capa.png);
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* quando o flex direction esta como coluna , o alig itens se refere da esquerda pra direita , o justify e o aling se invertem dependendo do flex direction */
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    margin-bottom: 50px;
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background: black;
    color: red;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrossel-filmes{
    margin-top: 5px;
}